<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap">

  <Identity Name="Microsoft.Windows.DevHomeCoreWidgetProvider" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="0.0.0.0" />
  <Properties>
    <DisplayName>CoreWidgetProviderPackage</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="CoreWidgetProviderPackage"
        Description="CoreWidgetProviderPackage"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
	  <Extensions>
		  <com:Extension Category="windows.comServer">
			  <com:ComServer>
				  <com:ExeServer Executable="CoreWidgetProvider\CoreWidgetProvider.exe" DisplayName="CoreWidgetProvider">
					  <com:Class Id="F8B2DBB9-3687-4C6E-99B2-B92C82905937" DisplayName="CoreWidgetProvider" />
				  </com:ExeServer>
			  </com:ComServer>
		  </com:Extension>
		  <uap3:Extension Category="windows.appExtension">
			  <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="Core" Id="CoreWidgetProvider" PublicFolder="Public">
				  <uap3:Properties>
					  <WidgetProvider>
						  <ProviderIcons>
							  <Icon Path="Images\StoreLogo.png" />
						  </ProviderIcons>
						  <Activation>
							  <!-- Apps exports COM interface which implements IWidgetProvider -->
							  <CreateInstance ClassId="F8B2DBB9-3687-4C6E-99B2-B92C82905937" />
						  </Activation>

						  <TrustedPackageFamilyNames>
							  <TrustedPackageFamilyName>Microsoft.MicrosoftEdge.Stable_8wekyb3d8bbwe</TrustedPackageFamilyName>
						  </TrustedPackageFamilyNames>

						  <Definitions>
							  <Definition Id="SSH_Wallet"
									  DisplayName="Microsoft SSH Wallet"
									  Description="Microsoft SSH Wallet Widget Description"
									  AllowMultiple="true">
								  <Capabilities>
									  <Capability>
										  <Size Name="small" />
									  </Capability>
									  <Capability>
										  <Size Name="medium" />
									  </Capability>
									  <Capability>
										  <Size Name="large" />
									  </Capability>
								  </Capabilities>
								  <ThemeResources>
									  <Icons>
										  <Icon Path="ProviderAssets\Counting_Icon.png" />
									  </Icons>
									  <Screenshots>
										  <Screenshot Path="ProviderAssets\Counting_Screenshot.png" DisplayAltText="For accessibility" />
									  </Screenshots>
									  <DarkMode>
										  <!-- DarkMode and LightMode are optional -->
									  </DarkMode>
									  <LightMode />
								  </ThemeResources>
							  </Definition>
						  </Definitions>
					  </WidgetProvider>
				  </uap3:Properties>
			  </uap3:AppExtension>
		  </uap3:Extension>
	  </Extensions>
	</Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
