<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevHome.DevDiagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <DevHome.DevDiagnostics.Properties.Settings>
        <setting name="IsProcessFilterIncludeConHost" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeDllHost" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeSvcHost" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeEdge" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeWebview" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeRtb" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeWmi" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeWudf" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsProcessFilterIncludeBgTaskHost" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="CurrentTheme" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="IsCpuUsageMonitoringEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="IsInsightsOnStartupEnabled" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IsClipboardMonitoringEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExcludedProcesses" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
              <string>DevHome.DevDiagnostics</string>
              <string>DevEnv</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="ExpandedWindowHeight" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ApplyAppFilteringToData" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WindowWidth" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="IsClipboardMonitorToolPinned" serializeAs="String">
          <value>True</value>
        </setting>
      </DevHome.DevDiagnostics.Properties.Settings>
    </userSettings>
</configuration>