<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
     xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
     xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
     xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
     xmlns:rescap3="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities/3"
     xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
     IgnorableNamespaces="uap uap3 rescap rescap3 mp">

  <Identity Name="Microsoft.PowerAutomateDesktop" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="affe2c99-60ed-431c-ac6f-158fc28a1acf" PhonePublisherId="95d94207-0c7c-47ed-82db-d75c81153c35" />

  <Properties>
    <DisplayName>ms-resource:AppStoreName</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Description>ms-resource:AppDescription</Description>
    <Logo>Images\PowerAutomateSquare50x50Logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.21200.0" MaxVersionTested="10.0.21326.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <!-- TODO: make sure that protocol handlers are also registered -->
  <Applications>
    <Application Id="PAD.Console"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayName" Description="ms-resource:AppDescription" BackgroundColor="transparent" Square150x150Logo="Images\PowerAutomateSquare150x150Logo.png"  Square44x44Logo="Images\PowerAutomateAppIcon.png">
        <uap:DefaultTile Wide310x150Logo="Images\PowerAutomateWide310x150Logo.png" Square310x310Logo="Images\PowerAutomateSquare310x310Logo.png"  ShortName="Power Automate Desktop" Square71x71Logo="Images\PowerAutomateSquare71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\PowerAutomateSplashScreen.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
		<Extensions>
			<uap3:Extension Category="windows.protocol">
				<uap3:Protocol Name="ms-powerautomate" Parameters="&quot;%1&quot;">
					<uap:DisplayName>ms-powerautomate</uap:DisplayName>
					<uap:Logo>Images\PowerAutomateAppIcon.png</uap:Logo>
				</uap3:Protocol>
			</uap3:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
